@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-size: 62.5%;
}

body {
    height: 100vh;

    color: #FFFFFF;

    background-color: #222831;

    display: grid;
    place-items: center;

    font-family: "DM sans", sans-serif;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: min(48rem, 90%);
    height: 2rem;

    margin-top: -4rem;
    padding: 3rem 0rem;

    
    border-bottom: 0.1rem solid rgb(57, 62, 70);
}
main{
    text-align: center;
    width: min(48rem, 90%);
}

.main__container {
    margin-top: -15rem;
    padding: 4rem 4rem;
    text-align: center;

    border-radius: 0.6rem;
    background-color: rgb(57, 62, 70, 0.1);

}

span {
    font-size: 11rem;
}

button {
    border: none;
    padding: 1rem;
    margin: 1rem .5rem 0rem 0rem;

    font-weight: 600;
    font-family: 'Montserrat';
    
    border-radius: .4rem;
    cursor: pointer;
    transition: background .3s;
    
    color: #FFFFFF;
    background-color:rgb(57, 62, 70, 0);
}
button:hover {
    background-color: rgb(57, 62, 70, 0);
}
#startButton, #stopButton {
    font-size: 2rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5rem;
}
#pomodoroButton {
    background-color: #045757;
}
#pomodoroButton:hover {
    background-color: #377575;
}
#breakButton, #longBreakButton {
    background-color: #0C3C78;
}
#breakButton:hover, #longBreakButton:hover {
    background-color: #1c58a2;
}
a {
    margin-right: 1rem;
}
.hide {
    display:none;
}
@media(max-width: 435px) {
    .main__container {
        margin-top: -5rem;
    }
    span {
        font-size: 8rem;
    }
}